.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
    background: #5264AE;
    cursor: pointer;
}
.checkbox:checked {
    color: tomato;
    background-color: white;
    outline: 1px solid #5264AE;
    content: "x";
}
.checkbox:focus {
    outline: 1px solid #5264AE;
}