.wrapper {
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
    padding: 33px;
    background-color: antiquewhite;
    position: relative;
}

.signInContent {
    /*opacity: 0.5;*/
}

.present {
    font-size: 26px;
    font-weight: bold;
}

.signIn {
    font-size: 22px;
    font-weight: bold;
}

.wrapperInputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    min-height: 170px;
    justify-content: space-between;
}