.wrapper {
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
    padding: 33px;
    background-color: antiquewhite;
    position: relative;
}

.signInContent {
    opacity: 0.5;
}

.present {
    font-size: 26px;
    font-weight: bold;
}

.signIn {
    font-size: 22px;
    font-weight: bold;
}

.wrapperInputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    min-height: 170px;
    justify-content: space-between;
}

.checkboxWrapper {
    text-align: right;
    margin-left: auto;
    margin-right: 15px;
    font-size: 14px;
}

.forgot {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 70px;
}

.forgot a {
    text-decoration: none;
    color: #2D2E46;
    font-size: 14px;
    padding-right: 15px;
    transition: 0.3s;
}

.link:hover {
    color: #21268F;
    opacity: 0.7;
}

.registration {
    margin-top: 30px;
}

.registration p {
    opacity: 0.5;
    color: #2D2E46;
    font-size: 14px;
    font-weight: bold;
}

.registration a {
    text-decoration: none;
    color: #21268F;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}