.wrapper {
    width: 413px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 60px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 10px 62px 10px rgba(47, 128, 214, 0.71);
}
.wrapper .errorMessage {
    font-size: 14px;
    color: red;
    opacity: 0.8;
}
.btnLogout {
    height: 36px;
    width: 150px;
}
.ava {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f3f2ef;
    overflow: hidden;
}
.ava img {
    width: 100%;
}