.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.avatar {
    padding: 5px;
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    margin: 5px;
    padding: 10px;
    background-color: #d8e6f1;
    border-radius: 10px;
}

.ava {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f3f2ef;
    margin-bottom: 10px;
}

.numbers {
    height: 60%;
    margin: 5px;
    padding: 10px;
    background-color: #d8e6f1;
    border-radius: 10px;
}

.cards {
    padding: 5px;
    margin: 10px;
    width: 70%;
    background-color: #d8e6f1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    text-align: center;
    width: 80%;
}

.input input {
    background-color: #d8e6f1;
}

.list {

}