.wrapper {
    display: inline-block;
    position: relative;
}

.input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 0 50px #fff;
    -webkit-text-fill-color: #000;
}

.onPassword{
    display: block;
    position: absolute;
    background-image: url("Shape.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    right: 10px;
    top: 30%;
}

.input:focus {
    outline: none;
}

.label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15%;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus ~ .label,
.input:valid ~ .label {
    top: -15px;
    font-size: 14px;
    color: #5264AE;
}

.animationBorder {
    position: relative;
    display: block;
    width: 320px;
}

.animationBorder:before, .animationBorder:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.animationBorder:before {
    left: 50%;
}

.animationBorder:after {
    right: 50%;
}

.input:focus ~ .animationBorder:before,
.input:focus ~ .animationBorder:after {
    width: 50%;
}

.wrapper .errorInput {
    border-bottom: 1px solid red;
}