.packsListFooterWrapper {
    display: flex;
    width: 1200px;
    justify-content: flex-start;
    align-items: center;

}


.packListPageSelector {
    margin-left: 50px;
}

.packListPageSelector select {
    margin-left: 5px;
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 10px;
}